.my_work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  /* border: 1px dotted red; */
}

.my_work_title {
  margin-top: 50px;
  /* border: 1px dotted red; */
}

.my_work_title h2 {
  font-size: 48px;
  font-weight: 500;
}

.my_work_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  /* border: 1px dotted red; */
}

.my_work_container img {
  box-sizing: border-box;
  width: 100%;
}

.my_work_container img:hover {
  box-shadow: 1px 1px 8px rgba(112, 59, 237, 0.697);
  cursor: pointer;
  scale: 1.05;
  transition: 0.3s;
  border-radius: 10px;
}
