* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
h1,
h3 {
  margin: 10px;
  text-align: justify;
}

h2 {
  text-align: center;
}

.solucao {
  margin: 30px;
  padding: 5px;
  border: 1px solid rgb(250, 128, 114);
  box-shadow: 1px 1px 1px rgba(255, 127, 113, 0.5);
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.container_card {
  /* text-align: center; */
  /* gap: 30px; */
  border: 2px solid black;
  width: 50vw;
}
