.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.navbar ul {
  display: flex;
  cursor: pointer;
  font-size: 20px;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.navbar li:hover {
  transform: scale(1.01);
}

.navbar img {
  width: 230px;
  object-fit: scale-down;
  border-radius: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  color: green;
  transform: scale(1.05);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .navbar ul {
    font-size: 18px;
    gap: 8px;
  }

  .navbar img {
    width: 150px;
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul {
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  .navbar img {
    width: 120px;
    margin-bottom: 10px;
  }
}
