* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.lista-produtos {
  display: flex;
  flex-wrap: wrap;
  min-width: 800px;
  max-width: 1000px;
  justify-content: start;
  /* gap: 10px; */
  /* overflow-x: auto; */
}
