* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.enunciado p,
h1 {
  margin: 10px;
  text-align: justify;
}

img {
  object-fit: cover;
}

.solucao {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 60px;
  border: 1px solid rgb(250, 128, 114);
  box-shadow: 1px 1px 1px rgba(255, 127, 113, 0.5);
  align-items: center;
  justify-content: center;
}

.solucao h1 {
  font-size: 4rem;
}

button {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  padding: 15px;
  box-sizing: border-box;
}
