.generic_button {
  font-size: 20px;
  padding: 10px 20px;
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0.374));
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  transition: 0.5s;
}

.generic_button:hover {
  transform: scale(1.05);
}

@media (max-width: 480px) {
  .generic_button {
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 8px;
  }
}
